
.list-group{margin-bottom:0;}
.list-group-item{padding-left:0;padding-right:0;border-left:0;border-right:0;background-color:#F9F9FA;text-overflow:ellipsis;white-space:nowrap;word-break:keep-all;overflow:hidden;}
.list-group-item:first-child{border-top:0;border-radius:0;}
.list-group-item:last-child{border-bottom:0;border-radius:0;}
.list-group-item.item-header{padding-top:15px;padding-bottom:0;}
.list-group-item span{display:inline-block;vertical-align:middle;text-indent:10px;}
.list-group-item span span{display:block;}