/* 架构 */
.dashboard-wrapper {
    margin: 0;
    padding: 0;
}
.dashboard-header {
    height: 60px;
    background-color: #212121;
}
.dashboard-header .dropdown-menu {
    right: 0;
    left:auto;
}
.dashboard-header .user .dropdown-toggle {
    height: 60px;
    line-height: 60px;
    padding: 0 15px;
    display: block;
}
.dashboard-header .user .dropdown-toggle:hover, .dashboard-header .user .dropdown-toggle:active,
.dashboard-header .user .dropdown-toggle:focus{
    background-color: #383838;
}
.dashboard-header .brand {
    display: inline-block;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    width: 225px;
    color: #FFF;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}
.dashboard-body {
    position: relative;
    overflow: hidden;
}
.dashboard-body:after{
    content: "xxoo";
    height: 0;
    display: block;
    overflow: hidden;
    visibility: hidden;
    clear: both;
}
.dashboard-sidebar { 
    vertical-align: top;
    /*display: table-cell;*/
    float: left;
    width: 220px;
    background-color: #3d3d3d;
    /*height: 100%;*/
    overflow: auto;
}
.dashboard-sidebar .sidebar-header {
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #d72324;
    margin-bottom: 7px;
}
.dashboard-sidebar .logo-text {
    font-size: 24px;
    color: #FFF;
}


.sidebar-menu > li {
    position: relative;
}
.sidebar-menu > li:first-child > a {
    border-top: none;
} 
.sidebar-menu > li > a {
    color: #ffffff ;
    display: block;
    position: relative;
    margin: 0;
    border: 0px;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    border-top: 1px solid #5c5c5c ;
}
.sidebar-menu > li > a:hover, .sidebar-menu > li:hover > a {
    background: #303030;
}
.sidebar-menu > li.active > a {
    background: #e02222;
    border-top-color: transparent ;
    color: #ffffff;
}
.sidebar-menu > li > a i {
    font-size: 16px;
    margin-right: 5px;
    text-shadow: none;
}
.sidebar-menu > li.active > a .selected {
    display: block;
    width: 8px;
    height: 25px;
    background-image: url("/assets/img/dashboard/sidebar-menu-arrow.png");
    float: right;
    position: absolute;
    right: 0px;
    top: 8px;
}
.sidebar-menu > li > a > .arrow.open:before {
    float: right;
    margin-top: 1px;
    margin-right: 3px;
    display: inline;
    font-family: FontAwesome;
    height: auto;
    font-size: 16px;
    content: "\f107";
    font-weight: 300;
    text-shadow: none;
}
.sidebar-menu > li > ul.sub-menu > li > a {
    color: #bdbdbd;
    display: block;
    margin: 0px 0px 0px 0px;
    padding: 5px 0px;
    padding-left: 44px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    background: none;
}
.sidebar-menu > li > ul.sub-menu > li > a:hover,.sidebar-menu > li > ul.sub-menu > li > a.active{
    background: #575757 ;
}

.dashboard-content {
    vertical-align: top;
    /*display: table-cell;*/
    /*height: 100%;*/
    overflow: auto;
    margin-left: 220px;
    overflow: hidden;
    background-color: #fff;

}
.dashboard-breadcrumb {
    background-color: #FFF;
    border-bottom: 1px solid #ddd;
}
.dashboard-breadcrumb a {
    padding: 8px 20px 8px 10px;
    display: inline-block;
    background: url('/assets/img/dashboard/breadcrumb.png') no-repeat center right;
    font-size: 12px;
    color: #666666;
}
.dashboard-breadcrumb a:hover {
    color: #333333;
}
.dashboard-breadcrumb a.current {
    font-weight: bold;
    color: #444444;
    background-image: none;
}

.dashboard-footer {
    padding: 8px 20px 5px 20px;
    font-size: 12px;
    background-color: #eee;
}
.dashboard-footer .footer-inner {
    color: #999999;
}
.dashboard-view>div {
    padding:15px;
    box-sizing:content-box;
}
.dashboard-body {
    
}
.dashboard-body .center {
    text-align: center;
}
.dashboard-body th {
    text-align: center;
}
.dashboard-body .table tbody td {
    vertical-align: middle;
}
.dashboard-body .nav {
    margin-bottom: 10px;
}
.dashboard-body .actions {
    padding: 3px;
    text-align: right;
}
.dashboard-body .table-index {
    width: 7%;
}
.dashboard-body .table-actions {
    width: 25%;
}
.dashboard-body .none {
    text-align: center;
    line-height: 30px;
}
/* 模板 */

/* 文章类别 */
.article-type-wrapper {

}

.form-action-box {
    text-align: center;
    padding: 15px;
}
